<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='span12'>
          <h1>Quiz Node</h1>
        </div>
      </div>
      <div class='row'>
        <div class='span4'>
          <div class='well'>
            <h3>Players</h3>
            <div class='connectedUsers'>

            </div>
          </div>
        </div>
        <div class='span8'>
          <h2>Groups</h2>
      </div>
    </div>
  </body>
</html>