<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='functions.js'></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      var connected = false;
      var username = '';
      var activeUsers = 0;

      socket.on('connect', function(){});

      // This is sent on initial connection. Used ot get the connected users
      socket.on('newUserList', function(data){
        $(".connectedUsers").html('');
        $.each(data.userList, function(i, user){
          activeUsers = activeUsers++;
          $(".connectedUsers").append("<div id='"+user+"'>"+user+"</div>");
        });
      });

      //Whenever a player joins, this updates the players list
      socket.on('updateUserList', function(data){
    
        if(data.connectionType ==  'add'){
          activeUsers = activeUsers++;
          $(".connectedUsers").append("<div id='"+data.user.username+"'>"+data.user.username+"</div>");
        } else {
          activeUsers = activeUsers--;
          $("#"+data.user.username).remove();
        }

      });


      $(document).ready(function(){
      
       		username = getCookie('Quiz');
       		console.log(username);
	        if(username == '' || username == null){
	        	show_index();
	        } else {
	        	socket.emit('addUser', username);
	        	show_game_lobbies();
	        }

      });
      
      
      function show_game_lobbies(){
      	socket.emit("gameLobbyRequest");
      	socket.on('gameLobbies', function(data){
      		
      		$.each(data.gameLobbies, function(i, lobby){
      			$('.show_lobbies').append("<p><a href=/group/"+i+" id='"+i+"' class='btn btn-primary'>"+lobby+"</a></p>");
      		});
      		
      		$('.show_lobbies').show();
      	});
      	
      }
      
     

      function show_index(){
      	  $(".show_index").show();
	      $(".show_index").on('click', '.login',  function(){
	          var username = prompt("Username please");
	          if(username !=''){
	            socket.emit('addUser', username);
	            connected = true;
	            setCookie('Quiz',username,1);
	            
	            $(".show_index").hide();
	            show_game_lobbies();
	            
	          } else {
	            alert("USERNAME PLEASE!");
	          }
	        });
       }



    </script>
  </head>
  <body>
    <div class='container-fluid'>
      
      <div class='row'>
        <div class='span4'>
          <div class='well'>
            <h3>Players</h3>
            <div class='connectedUsers'>

            </div>
          </div>
        </div>
        <div class='span8'>
          <div class='hero-unit'>        
            <div class="show_index" style='display:none;'>
              <h2>Welcome to Achrophobia</h2>
              <a href='javascript:;' id='btnJoin' class='btn btn-primary login'>Login</a>
            </div>
           
            <div class="show_lobbies" style='display:none;'>
              <h2>Game Lobbies</h2>
              <p>Click the button to join</p>
              <div id='lobbies_panel'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>